@model Sistema_Supermercado_AppWeb.Models.Clientes

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewData["Title"] Supermercado Latino</title>
    <!-- Template CSS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/CSS/styles-login.css">

</head>
<body>

    <div class="espacio"></div>

    <section class="container-login">
        <div class="container-form sign-up">
            <div class="welcome-back">
                <div class="message">
                    <h2>Bienvenido a Supermercado Latino</h2>
                    <p>Si ya tienes una cuenta por favor inicia sesion aqui</p>
                    <button class="sign-up-btn">Iniciar Sesion</button>
                </div>
            </div>
            <form asp-action="Create" class="formulario">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h2 class="create-account">Crear una cuenta</h2>
                <div class="iconos">
                    <div class="border-icon">
                        <i class='bx bxl-instagram'></i>
                    </div>
                    <div class="border-icon">
                        <i class='bx bxl-twitter'></i>
                    </div>
                    <div class="border-icon">
                        <i class='bx bxl-facebook-circle'></i>
                    </div>
                </div>
                <p class="cuenta-gratis">Crear una cuenta gratis</p>
                <input type="text" placeholder="Cedula" asp-for="Cedula" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
                <input type="text" placeholder="Nombre" asp-for="Nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
                <input type="text" placeholder="Apellidos" asp-for="Apellidos" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
                <input type="number" placeholder="Telefono" asp-for="Telefono" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
                <input type="email" placeholder="Correo" asp-for="Correo" />
                <span asp-validation-for="Correo" class="text-danger"></span>
                <input type="submit" value="Create" class="btn btn-primary" />
            </form>
        </div>
        <div class="container-form sign-in">
            <form class="formulario">
                <h2 class="create-account">Iniciar Sesion</h2>
                <div class="iconos">
                    <div class="border-icon">
                        <i class='bx bxl-instagram'></i>
                    </div>
                    <div class="border-icon">
                        <i class='bx bxl-twitch'></i>
                    </div>
                    <div class="border-icon">
                        <i class='bx bxl-facebook-circle'></i>
                    </div>
                </div>
                <p class="cuenta-gratis">¿Aun no tienes una cuenta?</p>
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Contraseña">
                <input type="button" value="Iniciar Sesion">
            </form>
            <div class="welcome-back">
                <div class="message">
                    <h2>Bienvenido de nuevo</h2>
                    <p>Si aun no tienes una cuenta por favor registrese aqui</p>
                    <button class="sign-in-btn">Registrarse</button>
                </div>
            </div>
        </div>
    </section>
    <script src="~/JS/script-login.js"></script>



    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</body>
</html>
