@model Sistema_Supermercado_AppWeb.Models.Clientes

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewData["Title"] Supermercado Latino</title>
    <!-- Template CSS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/Tienda/CSS/styles-login.css">

</head>
<body>

    <div class="espacio"></div>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="box" style="height:620px">
            <div class="form">
                <h2>Registrarse</h2>
                <div class="inputbox">
                    <input type="text" required="required" asp-for="Nombre">
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                    <span>Nombre</span>
                    <i></i>
                </div>
                <div class="inputbox">
                    <input type="text" required="required" asp-for="Apellidos">
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                    <span>Apellidos</span>
                    <i></i>
                </div>
                <div class="inputbox">
                    <input type="text" required="required" asp-for="Telefono">
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                    <span>Telefono</span>
                    <i></i>
                </div>
                <div class="inputbox">
                    <input type="email" required="required" asp-for="Correo">
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                    <span>Correo</span>
                    <i></i>
                </div>
                <div class="inputbox">
                    <input type="password" required="required" asp-for="Contrasena">
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                    <span>Contrasena</span>
                    <i></i>
                </div>
                <div class="links">
                    <a href="#">No tienes una cuenta?</a>
                    <a asp-action="Login">Inicio de sesion</a>
                </div>
                <input type="submit" value="Create" />
            </div>
        </div>
    </form>





        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }

</body>
</html>
