<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/CSS/styles-loading.css">
</head>
<body>
    <div class="loading" id="loader">
        <div class="centerload">
            <div class="ringload"></div>
            <span class="loadingspan">loading...</span>
        </div>
    </div>

    <script src="~/JS/script-loading.js"></script>
</body>

</html>



@{
    Layout = "_Layout";
}
