<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/CSS/styles.css">
</head>
<body>
    <div class="loading" id="loader">
        <div class="centerload">
            <div class="ringload"></div>
            <span class="loadingspan">loading...</span>
        </div>
    </div>

    <script src="~/JS/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>



@{
    Layout = "_Layout";
}
